body{
    font-family: 'STIX Two Math', serif; 
}
.top-header{
    background: url(images/Web-Banner-2.jpg) ;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 20px;
}
.left-side{
    color: azure;
    width: 50%;
    padding: 5%;
}
.right-side{
    width: 50%;
}
.right-side img{
    width: 80%;
    display: center;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
h2{
    font-size: 30px;
    font-weight: 500;
}
p{
    text-align: justify;
}
.link-button{
    padding-top:10px;
}
.button{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 10px 20px;
    border-radius: 10px;

}
.education{
    display:flex;
    background: whitesmoke;
    background-size: 100% 100%;
    display: cover;
}
.left{
    width:50%;
    padding:5%;
}
.left img{
    width:80%;
}
.right{
    width: 50%;
    padding-top:20%;
    padding-right:5%;
}
.btn{
    text-decoration: none;
    color:black;
    border-style: solid;
    border-color: black;
    padding: 10px 20px;
    border-radius: 10px;

}
.expreience{
    background:lightgray;
    background-size: 100% 100%;
    display: cover;
}
.exhead{
    padding-top: 5%;
    text-align: center;
}
.fexliable{
    display:flex;
}
.thleft{
    width:50%;
    padding:2%;
    box-shadow: gray 10px 10px 30px;
    margin:5%;
}
.thleft img{
    width:70%;
    padding-left:15%;
}
.thright{
    width:50%;
    padding: 2%;
    box-shadow: gray 10px 10px 30px;  
    margin:5%;
}
.thright img{
    width:70%;
    padding-left:15%;
}
.ex1{
    text-align: center;
}
.ex2{
    text-align: center;
}
